{% extends "reviews/base.html" %}
{% block content %}
<h1> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean aliquam tincidunt justo vitae bibendum. Phasellus metus purus, euismod nec malesuada placerat, finibus vitae enim. Sed quam erat, malesuada id finibus eu, sagittis vel est. Maecenas semper lorem at dignissim tempor. Sed et aliquam metus. Donec convallis orci eget enim tristique, et blandit eros euismod. Donec id auctor erat, rutrum bibendum odio. Vestibulum ullamcorper risus a placerat congue. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam sem mi, suscipit quis lorem quis, facilisis rutrum lectus. Pellentesque ac sapien lacus. Quisque nec nisl eros.
</h1>
{% endblock content %}
